# Node.js
frontend/node_modules/
frontend/.next/
frontend/dist/
frontend/tsconfig.tsbuildinfo

# Python
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/.pytest_cache/
backend/pengujian/__pycache__/

# System/Environment
.env
.env.local
*.pem
*.key
*.log
.DS_Store

# IDE
.vscode/*

# Output Data

.agents/

# Berkas Rahasia
prompt.txt
progres.md
databasescema.md
DESIGN.md
PRODUCT.md
skills-lock.json